.timer{
    background-color: yellow;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.warning{
    background-color: red;
}
.start{
    opacity: 0;
}
.end{
    opacity: 1;
    transition: opacity 0.5s;
}